*{
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 26px
}

h1,h2,h3,h4,h5{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

p,a,span,input,label,textarea{
	font-family: 'Open Sans', sans-serif;
}

h1{
	font-size:36px;
	line-height: 54px
}

h2{
	font-size: 30px;
	line-height: 40px
}

h3{
	font-size: 24px
}

h4{
	font-size: 20px
}

h5{
	font-size: 18px
}

button{
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 18px;
}



/*----------General----------*/

.container{
	width: 70%;
	max-width: 1280px;
	height: auto;
	margin: 0 auto;
	-js-display: flex;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

}

.container::after{
	content: "";
    clear: both;
    display: table;
}

.section-msj{
	width: 40%;
}

.section-msj span, h2, p{
	margin-bottom: 10px;
	color: #4a4a4a
}

.section-msj span{
	font-size: 14px
}

.section-icon{
	/*width: 100px;*/
	height: 100px;
	margin-bottom: 20px;
	display: block;
}

.section-icon img{
	height: 100%
}

.section-title{
	margin-bottom: 20px
}
/*----------General----------*/




/*----------Navbar----------*/

nav{
	width: 100%;
	height: 70px;
	background-color: #fff;
	position: fixed;
	z-index: 3;
	display: flex;
	box-shadow: 0 2px 7px rgba(0,0,0,0.1);
}

.nav-container{
	width: 80%;
	max-width: 1280px;
	height: auto;
	margin: 0 auto;
	-js-display: flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-container img{
	width: 135px;
	height: 55px;
}

.nav-container h5{
	color: #05ce7c;
	line-height: 70px
}

/*----------Navbar----------*/



/*----------Hero----------*/
.hero-vid{
	width: 100%;
	left: 0;
	top: 0;
	height: 100vh;
	overflow: hidden;
	position: relative;
}

.hero-copy{
	position: relative;
    text-align: center;
    color: #fff;
    width: 100%;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
}

.hero-copy h1 span{
	color: #fff;
	margin-bottom: 20px
}

.hero-copy span{
	font-style: italic;
}

.hero-overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(17, 26, 76, 0.55);
	z-index: 1
}

#bgvid{
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
}
/*----------Hero----------*/




/*----------Our platform----------*/
.cont-our-platform{
	width: 100%;
	padding-top: 200px;
	background: url(../img/mobile-shopping-bg.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.our-platform-img{
	width: 30%;
	position: relative;
	
}

.our-platform-img img{
	width: 100%
}

.our-platform-img-cont{
	position: absolute;
    top: 0;
    margin: 16% 0 0% 20%;
    width: 61%;
}

.our-platform-img-cont img{
	width: 100%
}
/*----------Our platform----------*/




/*----------Know how----------*/
.cont-know-how{
	width: 100%;
	padding-top: 200px;
	background: url(../img/core-features-bg.png);
	background-size: contain;
	background-repeat: no-repeat;
	margin-bottom: 200px
}

.know-how-features{
	-js-display: flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 60%
}

.feature{
	width: 40%;
	margin-bottom: 20px
}

.feature img{
	width: 100%;
}
/*----------Know how----------*/




/*----------User experience----------*/
.cont-user-experience{
	width: 100%;
	background-color: #05ce7c;
	-js-display: flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.user-experience-msj{
    width: 30%;
    margin-left: 15%;
    padding: 100px 0;
}

.cont-user-experience span, .cont-user-experience p, .cont-user-experience h2{
	color: #fff
}

.user-experience-img{
	width: 50%;
	background: url(../img/unique-ux-img.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center
}

/*----------User experience----------*/



/*----------Data generation----------*/
.cont-data-genetarion{
	width: 100%;
	padding-top: 200px;
	background: url(../img/data-generation-bg.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.cont-data-genetarion > .container{
	display: block;
}

.data-quote{
	margin-right: 15%;
    width: 45%;
    text-align: right;
    padding-left: 40%;
    margin-bottom: 200px;
}

.data-quote p{
	font-style: italic;
}

.data-quote span{
	font-size: 14px
}

.data-img{
	float: left;
	width: 30%;
    margin-right: 30px;
    margin-top: 125px;
}

.data-img img{
	width: 100%
}

.data-generation-msj{
	display: inline-block;
	width: 40%
}

.data-generation-ic img{
	width: 100px;
	height: 100px;
	display: block;
}
/*----------Data generation----------*/




/*----------Branding strategy----------*/
.cont-branding-strategy{
	width: 100%;
	padding-top: 200px;
	background: url(../img/branding-bg.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.branding-strategy-img{
	width: 59%;
	position: relative;
}

.branding-strategy-img img{
    width: 100%;
}
.strategy-img-cont {
	position: absolute;
    top: 0;
    margin: 5% 13% 0% 9%;
}

/*----------Branding strategy----------*/



/*----------Content managing system----------*/
.cont-cms{
	width: 100%;
	padding-top: 200px;
	background: url(../img/cms-bg.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.cont-cms > .container{
	flex-wrap: wrap;
}

.cms-img{
	width: 59%;
}

.cms-img img{
	width: 100%
}
/*----------Content managing system----------*/




/*----------Relashionship---------*/
.cont-relationship{
	width: 100%;
	padding-top: 200px;
	background: url(../img/appsclients-bg.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.cont-relationship > .container{
	display: block;
}

.cont-relationship > .container > .section-msj{
	width: 100%
}

.relationship-ic img{
	width: 123px;
	height: 100px;
}

.relationship-logos{
	width: 80%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 auto
}

.app-logo{
	width: 33.3%
}

.app-logo img{
	width: 100%;
	height: 100%
}
/*----------Relashionship---------*/



/*----------Contact us---------*/
.cont-contact-us{
	width: 100%;
	padding: 200px 0;
	background: url(../img/contact-bg.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.contact-form{
	width: 59%;
	-js-display: flex;
	display: flex;
	justify-content: center;
}

form{
	width: 70%;
}

.form-input{
	position: relative;

}

input{
	display: block;
	width: 100%;
	height: 65px;
    border: 1px solid #c6c6c6;
    border-radius: 4px;
    padding-left: 1.8%;
    margin-bottom: 15px;
    background: rgba(255,255,255,0.7);
    transition:0.2s ease all;
}

input:focus{
	outline: none;
	border: 1px solid #05ce7c;
}

label{
	position: absolute;
	top: 21px;
	left: 10px;
	color: #9b9b9b;
	pointer-events: none;
	transition:0.2s ease all;
}

input:focus ~ label{
	top: -1px;
	left: 10px;
	font-size:14px;
	color:#05ce7c;
}

input:valid ~ label{
	top: -1px;
	left: 10px;
	font-size:14px;
	color:#9b9b9b;
}

textarea{
	display: block;
	width: 100%;
	height: 190px;
    border: 1px solid #c6c6c6;
    border-radius: 4px;
    padding-top: 5%;
    padding-left: 1.8%;
    margin-bottom: 15px;
	background: transparent;
	resize: none;
	background: rgba(255,255,255,0.7);
	transition:0.2s ease all;
}

textarea:focus{
	outline: none;
	border: 1px solid #05ce7c;
}

.form-input:last-child() > label{
	position: absolute;
	top: 15px;
	left: 10px;
	transition:0.2s ease all;
}

textarea:focus ~ label{
	top: -1px;
	left: 10px;
	font-size:14px;
	color:#05ce7c;
}

textarea:valid ~ label{
	top: -1px;
	left: 10px;
	font-size:14px;
	color:#9b9b9b;
}

.contact-form button{
	width: 220px;
	height: 70px;
	border: none;
	border-radius: 100px;
	background-color: #05ce7c;
	float: right;
	cursor: pointer;
	outline: none;
	transition:0.2s ease all;
}

.contact-form button:hover{
	background-color: #22ef9b;
	outline: none;
}

.success {
	display: block;
    width: 50%;
    float: left;
    line-height: 70px;
}

.error{
	display: block;
    width: 50%;
    float: left;
    line-height: 70px;
}

.success p{
	font-size: 13px;
	color: #05ce7c;
	line-height: 70px
}

.error p{
	font-size: 13px;
	color: red;
	line-height: 70px
}

.hiddenMessage {
	display: none;
}
/*----------Contact us---------*/



/*----------Footer---------*/
.cont-footer{
	width: 100%;
	padding: 200px 0 70px 0;
	background: #131c4e;
}

.footer-copyright{
	width: 50%;
}

.footer-copyright p{
	color: #fff;
	font-size: 14px;
	line-height: 80px
}

.footer-logo{
	width: 50%;
	text-align: right;
}

.footer-logo img{
	width: 80px;
	height: 80px
}
/*----------Footer---------*/