/*-----Responsive------*/

@media screen and (min-width: 320px) and (max-width: 767px) {

	/*-----General-----*/
	.container{
		width: 100%;
		justify-content: center;
		overflow: hidden;
	}

	.section-msj{
		width: 80%;
		margin-bottom: 70px	
	}
	/*-----General-----*/



	/*-----Hero vid-----*/
	.hero-vid {
	    height: 80vh;
	}

	.hero-copy{
		margin: 0 auto;
    	width: 90%;
	}

	.hero-copy h1{
		font-size: 2em;
		line-height: 45px
	}
	/*-----Hero vid-----*/

	


	/*-----Nav-----*/
	.nav-container{
		width: 90%;
	}

	.nav-container h5{
		width: 50%;
		text-align: right;
		font-size: 0.7em;
		line-height: initial;
	}
	/*-----Nav-----*/




	/*-----Our platform-----*/
	.cont-our-platform {
	    padding-top: 130px;
	    background-size: cover;
	}

	.our-platform-img{
		width: 80%;		
	}
	/*-----Our platform-----*/



	/*-----Know how-----*/
	.cont-know-how{
		padding-top: 130px;
		margin-bottom: 130px;
		background-size: cover;
	}

	.know-how-features{
		width: 100%
	}

	.feature{
		width: 80%;
		margin-bottom: 40px
	}
	/*-----Know how-----*/




	/*-----User experience-----*/
	.user-experience-msj{
		width: 80%;
		margin: 0 auto 30px;
		padding: 80px 0 0 0
	}

	.user-experience-img{
		width: 100%;
		height: 350px;
	}
	/*-----User experience-----*/




	/*----------Data generation----------*/
	.cont-data-genetarion{
		padding-top: 130px;
		background-size: cover;
	}

	.cont-data-genetarion > .container {
	    display: inline-flex;
    	margin: 0 auto;
	}

	.data-quote{
	    width: 80%;
	    text-align: center;
	    padding-left: 0;
	    margin: 0 auto;
	}

	.data-quote span{
		font-size: 14px
	}

	.data-img{
		float: none;
		width: 80%;
		margin: 125px auto 30px;
	}

	.data-generation-msj{
		width: 80%
	}
	/*----------Data generation----------*/




	/*----------Branding strategy----------*/
	.cont-branding-strategy{
		padding-top: 130px;
		background-size: cover;
	}

	.branding-strategy-img{
		width: 100%;
		position: relative;
	}	
	/*----------Branding strategy----------*/




	/*----------Content managing system----------*/
	.cont-cms{
		padding-top: 130px;
		background-size: cover;
	}

	.cms-img{
		width: 100%;
	}

	.cms-img img:first-child(){
		float: right;
	    position: relative;
	    left: 5%;
	    width: 95%;
	}

	.cms-img img:last-child(){
		width: 95%;
	    position: relative;
	    right: 10%;
	}
	/*----------Content managing system----------*/




	/*----------Relashionship---------*/
	.cont-relationship{
		padding-top: 130px;
		background-size: cover;
	}

	.cont-relationship > .container > .section-msj{
		width: 80%;
		margin: 0 auto
	}

	.relationship-logos{
		width: 100%;
		margin-bottom: 30px
	}

	.app-logo{
		width: 50%
	}
	/*----------Relashionship---------*/




	/*----------Contact us---------*/
	.cont-contact-us{
		padding: 130px 0;
		background-size: cover;
	}

	.contact-form{
		width: 100%;
		text-align: center;
	}

	form{
		width: 80%;
	}

	.contact-form button {
	   float: none;
	   margin-top: 20px	  
	}

	.success {		
	    width: 100%;
	    text-align: center;
	}

	.error{
		width: 100%;
	    text-align: center;
	}
	/*----------Contact us---------*/




	/*----------Footer---------*/
	.cont-footer{
		position: relative;
	}

	.cont-footer > .container{
		justify-content: space-around;
	}

	.footer-copyright{
		width: 80%;
    	margin-right: 16px;
	}

	.footer-copyright p{
		line-height: initial;
	}

	.footer-logo{
		position: absolute;
	    top: 16px;
	    right: 16px;
	    text-align: right;
	    width: 100%;
	}
	/*----------Footer---------*/

}