/*-----Responsive------*/

@media screen and (min-width: 768px) and (max-width: 1024px) {

	/*-----General-----*/
	.container{
		width: 90%;
		justify-content: center;
		padding: 0 5%;
		overflow: hidden;
	}

	.section-msj{
		width: 50%;
		margin-bottom: 70px	
	}
	/*-----General-----*/



	/*-----Hero vid-----*/
	.hero-vid {
	    height: 80vh;
	}
	/*-----Hero vid-----*/




	/*-----Nav-----*/
	.nav-container{
		width: 90%;
	}
	/*-----Nav-----*/



	/*-----Know how-----*/
	.know-how-features{
		width: 50%
	}

	.feature{
		width: 40%;
		margin-bottom: 40px
	}

	.our-platform-img{
		width: 50%;		
	}
	/*-----Know how-----*/




	/*-----User experience-----*/
	.user-experience-msj{
		width: 30%;
		margin: 0 auto 30px
	}

	.user-experience-img{
		width: 50%;
	}
	/*-----User experience-----*/




	/*----------Data generation----------*/
	.data-quote{
		margin-right: 0;
	    width: 80%;
	    text-align: right;
	    padding-left: 0;
	    margin-bottom: 150px;
	    justify-content: space-between;
	    float: right;
	}

	.data-quote span{
		font-size: 14px
	}

	.data-img{		
	    width: 40%;
	    margin-bottom: 30px;
	}

	.data-generation-msj{
		width: 50%
	}
	/*----------Data generation----------*/




	/*----------Branding strategy----------*/
	.cont-branding-strategy > .container{
		align-items: center;
	}

	.branding-strategy-img{
		width: 50%;
		position: relative;
	}

	
	/*----------Branding strategy----------*/




	/*----------Content managing system----------*/
	.cms-img{
		width: 50%;
    	padding-top: 130px;
	}

	.cms-img img{
		width: 100%
	}
	/*----------Content managing system----------*/




	/*----------Relashionship---------*/
	.relationship-logos{
		width: 100%;
		margin-bottom: 30px
	}
	/*----------Relashionship---------*/




	/*----------Contact us---------*/
	.cont-contact-us > .container > .section-msj{
		width: 40%
	}

	.contact-form{
		width: 60%;
	}

	form{
		width: 80%;
	}

	.contact-form button{
		width: 40%
	}

	.success p{
		line-height: initial;
	}

	.error p{
		line-height: initial;
	}
	/*----------Contact us---------*/




	/*----------Footer---------*/
	.footer-copyright{
		width: 70%;
	}

	.footer-logo{
		width: 30%;
		text-align: center;
	}
	/*----------Footer---------*/

}